<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lotus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.forgotpass.ForgotPassword"></activity>
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.explore.general.GeneralActivity" />
        <activity
            android:name=".ui.explore.hashtag.HashtagActivity"
            android:label="@string/title_activity_explore" />
        <activity android:name=".ui.dm.GetMessage" />
        <activity android:name=".ui.explore.SearchActivity" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".ui.notification.NotificationActivity" />

        <service
            android:name=".service.EnvService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity android:name=".ui.CreatePostActivity" />
        <activity android:name=".ui.dm.MainActivityDM" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>